{{- if .Values.postgresql.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app-js.postgresql.name" . }}-config
  labels:
    {{- include "app-js.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
data:
  postgresql.conf: |
    max_connections = {{ .Values.postgresql.maxConnections }}
    shared_buffers = {{ .Values.postgresql.sharedBuffers }}
    effective_cache_size = {{ .Values.postgresql.sharedBuffers }}
    maintenance_work_mem = 64MB
    checkpoint_completion_target = 0.9
    wal_buffers = 16MB
    default_statistics_target = 100
    random_page_cost = 1.1
    effective_io_concurrency = 200
    work_mem = 4MB
    min_wal_size = 1GB
    max_wal_size = 4GB
    max_worker_processes = 2
    max_parallel_workers_per_gather = 1
    max_parallel_workers = 2
    max_parallel_maintenance_workers = 1
{{- end }}

